div {
    position: absolute;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
}
body {
    max-width: 200px;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: 1000px 1104px;
    overflow: scroll;
    background-position: auto;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5d2a7eb9299f610001eee3d4/1589382208065-XZXP3SMW224HP66SHAI3/ke17ZwdGBToddI8pDm48kK4EJApriTl0eIyeU-QOTnt7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmQh-0nIJac36sqamh6t4rPwbg8g8lMHGab5o5sjPM4E0GS3ByHJM0C5kQ1wfUI-1_/marty-nelson.png);
    position: absolute;
}
.story {
    margin-left: 200px;
    width: 420px;
}

.inputs {
    margin-top: 200px;
}

.hidden {
    display: none;
}

header {
    /* height: 100px; */
    width: 400px;
    margin-left: 50px;
    background: white;
    border-radius: 10px;
    padding: 2px 5px;
    line-height: 15px;
    margin-bottom: 10px;
}

.instructions {

}